{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Post edit</h1>

    {{ form(edit_form) }}

    <a class="btn btn-default" href="{{ path('') }}">Back to the list</a>
    {{ form(delete_form) }}
{% endblock %}
