{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Post list</h1>

    <table class="records_list table table-striped table-hover items-list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Datetime</th>
                <th>Type</th>
                <th>Title</th>
                <th>Text</th>
                <th>Author</th>
                <th>Image</th>
                <th>Link</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.datetime %}{{ entity.datetime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.type }}</td>
                <td>{{ entity.title|length > 70 ? entity.title|slice(0, 70) ~ '...' : entity.title  }}</td>
                <td>{{ entity.text|length > 70 ? entity.text|slice(0, 70) ~ '...' : entity.text  }}</td>

                <td>{{ entity.author }}</td>
                <td><img src="{{ entity.image }}" height="40px"></td>
                <td><a href="{{ entity.link }}" target="_blank">Link</a></td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('_new') }}" class="btn btn-warning btn-sm float-right"><i class="fa fa-plus"></i> Create new</a>

    {% endblock %}
