{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Post creation</h1>

    {{ form(form) }}
    <a class="btn btn-default" href="{{ path('') }}">
        Back to the list
    </a>

{% endblock %}
